{:format :v3,
 :transitions
 [{:name :transition/inquire,
   :actor :actor.role/customer,
   :actions [{:name :action/update-protected-data}],
   :to :state/inquiry}
  {:name :transition/request-after-inquiry,
   :actor :actor.role/customer,
   :actions
   [{:name :action/create-proposed-booking, :config {:type :time}},
    {:name :action/privileged-set-line-items},
    {:name :action/update-protected-data}],
   :from :state/inquiry,
   :to :state/booking-request-sent,
   :privileged? true}
  {:name :transition/request-booking,
   :actor :actor.role/customer,
   :actions
   [{:name :action/create-proposed-booking, :config {:type :time}},
    {:name :action/privileged-set-line-items},
    {:name :action/update-protected-data}],
   :to :state/booking-request-sent,
   :privileged? true}
  {:name :transition/sent-request-expire,
   :at
   {:fn/plus
    [{:fn/timepoint [:time/first-entered-state :state/booking-request-sent]}
     {:fn/period ["P1D"]}]},
   :actions
   [{:name :action/decline-booking}],
   :from :state/booking-request-sent,
   :to :state/request-expired}
  {:name :transition/customer-decline,
   :actor :actor.role/customer,
   :actions
   [{:name :action/decline-booking}],
   :from :state/booking-request-sent,
   :to :state/request-declined}
  {:name :transition/provider-decline,
   :actor :actor.role/provider,
   :actions
   [{:name :action/decline-booking}]
   :from :state/booking-request-sent
   :to :state/request-declined}
  {:name :transition/accept,
   :actor :actor.role/provider,
   :actions
   [{:name :action/accept-booking},
    {:name :action/privileged-set-line-items}],
   :from :state/booking-request-sent,
   :to :state/request-accepted,
   :privileged? true}
  {:name :transition/provider-cancel,
   :actor :actor.role/provider,
   :actions
   [{:name :action/cancel-booking}]
   :from :state/request-accepted
   :to :state/request-canceled}
  {:name :transition/customer-cancel,
   :actor :actor.role/customer,
   :actions
   [{:name :action/cancel-booking}]
   :from :state/request-accepted
   :to :state/request-canceled}
  {:name :transition/operator-cancel,
   :actor :actor.role/operator,
   :actions
   [{:name :action/cancel-booking}]
   :from :state/request-accepted
   :to :state/request-canceled}
  {:name :transition/accepted-request-expire,
   :at
   {:fn/plus
    [{:fn/timepoint [:time/first-entered-state :state/booking-request-sent]}
     {:fn/period ["P1D"]}]},
   :actions
   [{:name :action/decline-booking}],
   :from :state/request-accepted,
   :to :state/request-expired}
  {:name :transition/confirm-request,
   :actor :actor.role/customer,
   :actions
   [],
   :from :state/request-accepted,
   :to :state/officer-dispatched}
  {:name :transition/finish
   :actor :actor.role/provider,
   :actions
   [{:name :action/privileged-set-line-items}],
   :from :state/officer-dispatched,
   :to :state/exact-fee-calculated,
   :privileged? true}
  {:name :transition/request-payment,
   :actor :actor.role/customer,
   :actions
   [{:name :action/update-protected-data}
    {:name :action/stripe-create-payment-intent}],
   :from :state/exact-fee-calculated,
   :to :state/pending-payment}
  {:name :transition/report,
   :actor :actor.role/provider,
   :actions
   [],
   :from :state/pending-payment,
   :to :state/operator-processing}
  {:name :transition/processing-complete,
   :actor :actor.role/operator,
   :actions
   [],
   :from :state/operator-processing,
   :to :state/processing-completed}
  {:name :transition/processing-expire,
   :actor :actor.role/operator,
   :actions
   [],
   :from :state/operator-processing,
   :to :state/processing-expired}
  {:name :transition/expire-payment,
   :at
   {:fn/plus
    [{:fn/timepoint [:time/first-entered-state :state/pending-payment]}
     {:fn/period ["P3D"]}]},
   :actions
   [{:name :action/cancel-booking}],
   :from :state/pending-payment,
   :to :state/payment-expired}
  {:name :transition/confirm-payment,
   :actor :actor.role/customer,
   :actions
   [{:name :action/stripe-confirm-payment-intent},
    {:name :action/stripe-capture-payment-intent}],
   :from :state/pending-payment,
   :to :state/completed}
  {:name :transition/complete,
   :at
   {:fn/plus
    [{:fn/timepoint [:time/booking-end]} {:fn/period ["P2D"]}]},
   :actions [{:name :action/stripe-create-payout}],
   :from :state/completed,
   :to :state/delivered}
  {:name :transition/review-1-by-provider,
   :actor :actor.role/provider,
   :actions [{:name :action/post-review-by-provider}],
   :from :state/delivered,
   :to :state/reviewed-by-provider}
  {:name :transition/review-2-by-provider,
   :actor :actor.role/provider,
   :actions
   [{:name :action/post-review-by-provider}
    {:name :action/publish-reviews}],
   :from :state/reviewed-by-customer,
   :to :state/reviewed}
  {:name :transition/review-1-by-customer,
   :actor :actor.role/customer,
   :actions [{:name :action/post-review-by-customer}],
   :from :state/delivered,
   :to :state/reviewed-by-customer}
  {:name :transition/review-2-by-customer,
   :actor :actor.role/customer,
   :actions
   [{:name :action/post-review-by-customer}
    {:name :action/publish-reviews}],
   :from :state/reviewed-by-provider,
   :to :state/reviewed}
  {:name :transition/expire-review-period,
   :at
   {:fn/plus
    [{:fn/timepoint [:time/booking-end]} {:fn/period ["P7D"]}]},
   :actions [],
   :from :state/delivered,
   :to :state/reviewed}
  {:name :transition/expire-provider-review-period,
   :at
   {:fn/plus
    [{:fn/timepoint [:time/booking-end]} {:fn/period ["P7D"]}]},
   :actions [{:name :action/publish-reviews}],
   :from :state/reviewed-by-customer,
   :to :state/reviewed}
  {:name :transition/expire-customer-review-period,
   :at
   {:fn/plus
    [{:fn/timepoint [:time/booking-end]} {:fn/period ["P7D"]}]},
   :actions [{:name :action/publish-reviews}],
   :from :state/reviewed-by-provider,
   :to :state/reviewed}]
 :notifications
 [{:name :notification/booking-new-request,
   :on :transition/request-booking,
   :to :actor.role/provider,
   :template :booking-new-request}
  {:name :notification/booking-accepted-request,
   :on :transition/accept,
   :to :actor.role/customer,
   :template :booking-accepted-request}
  {:name :notification/booking-declined-request,
   :on :transition/provider-decline,
   :to :actor.role/customer,
   :template :booking-declined-request}
  {:name :notification/booking-expired-request,
   :on :transition/sent-request-expire,
   :to :actor.role/customer,
   :template :booking-expired-request}
  {:name :notification/booking-money-paid,
   :on :transition/complete,
   :to :actor.role/provider,
   :template :booking-money-paid}
  {:name :notification/review-period-start-provider,
   :on :transition/complete,
   :to :actor.role/provider,
   :template :booking-review-by-provider-wanted}
  {:name :notification/review-period-start-customer,
   :on :transition/complete,
   :to :actor.role/customer,
   :template :booking-review-by-customer-wanted}
  {:name :notification/review-by-provider-first,
   :on :transition/review-1-by-provider,
   :to :actor.role/customer,
   :template :booking-review-by-other-party-unpublished}
  {:name :notification/review-by-customer-first,
   :on :transition/review-1-by-customer,
   :to :actor.role/provider,
   :template :booking-review-by-other-party-unpublished}
  {:name :notification/review-by-provider-second,
   :on :transition/review-2-by-provider,
   :to :actor.role/customer,
   :template :booking-review-by-other-party-published}
  {:name :notification/review-by-customer-second,
   :on :transition/review-2-by-customer,
   :to :actor.role/provider,
   :template :booking-review-by-other-party-published}]}